BattleTank/Content/StarterContent/
BattleTank/Content/Tank/
BattleTank/Content/Heightmap.uasset
BattleTank/Content/CloisterBlack.ttf
BattleTank/Content/BT17-Firing-M1A1-tank-in-Djibouti.jpg
BattleTank/Content/BT17-Firing-M1A1-tank-in-Djibouti.uasset
BattleTank/Content/CloisterBlack.uasset
